In [1]:
# Part1 Q1
integers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
first_five = integers[:5]
print("First 5 elements:", first_five)
last_three = integers[-3:]
print("Last 3 elements:", last_three)
middle_section = integers[3:8]
print("Elements from index 3 to 7:", middle_section)

First 5 elements: [1, 3, 5, 7, 9]
Last 3 elements: [15, 17, 19]
Elements from index 3 to 7: [7, 9, 11, 13, 15]

In [5]:
# part1 Q2
fruits = ["Apple", "Banana", "Mango", "Date", "Pomegranate"]
fruits.append("Dragon fruit")
fruits.append("Grape")
#another way to append
fruits.extend(["A","B"])
fruits.pop()

print("Updated list of fruits:", fruits)

Updated list of fruits: ['Apple', 'Banana', 'Mango', 'Date', 'Pomegranate', 'Dragon fruit', 'Grape', 'A']

In [9]:
#part 2 Q1
cities = ("alxeandria", "Cairo", "Mansoura", "Monifua", "Sina")

second_city = cities[1]
print("Second city in the tuple:", second_city)

#cities[1] = "Berlin"
print("I can't change, Explanation: Tuples are immutable, meaning their values cannot be changed after creation.")

Second city in the tuple: Cairo
I can't change, Explanation: Tuples are immutable, meaning their values cannot be changed after creation.

In [10]:
# Part 2 Q2
person = {'name': 'John', 'age': 30, 'city': 'New York'}
print("Age:", person['age'])
person['job'] = 'Engineer'
person.pop('city')
print("Updated dictionary:", person)

Age: 30
Updated dictionary: {'name': 'John', 'age': 30, 'job': 'Engineer'}

In [11]:
# Part 2 Q3
people = {'Jana': 17, 'Nayara': 19, 'Omar': 21}
for name, age in people.items():
    print(f"{name} is {age} years old.")

Jana is 17 years old.
Nayara is 19 years old.
Omar is 21 years old.

In [5]:
# Part 3 Q1
while True:
        age = int(input("Enter your age: "))
        if age > 0 :
            if age >= 18:
                print("Adult")
            else:
                print("Minor")
            break
        else:
            print("Age cannot be negative or zero. Please enter a valid age.")

Enter your age: 0
Age cannot be negative or zero. Please enter a valid age.
Enter your age: 21
Adult

In [13]:
#part 3 Q2
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [17]:
# Part 3 Q3
while True:
        score = int(input("Enter your score: "))
        if 0 <= score <= 100:
            if score >= 90:
                print("Grade: A")
            elif score >= 70:
                print("Grade: B")
            elif score >= 50:
                print("Grade: C")
            else:
                print("Grade: F")
            break
        else:
            print("Error: Please enter a valid score between 0 and 100.")

Enter your score: -100
Error: Please enter a valid score between 0 and 100.
Enter your score: 100
Grade: A

In [6]:
# Part 4 Q1
for number in range(1, 21):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [7]:
# Part 4 Q2
number = 10
while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1

In [13]:
#part 4 Q3
while True:
        num = int(input("Enter a number: "))

        total_sum = 0
        if num >= 1:  # For positive numbers
            for i in range(1, num + 1):
                total_sum += i
        else:  # For negative numbers
            for i in range(1, num - 1, -1):
                total_sum += i

        print(f"The sum of numbers from 1 to {num} is {total_sum}.")
        break

Enter a number: -3
The sum of numbers from 1 to -3 is -5.

In [17]:
#part 5 Q1
while True:
        name = input("What is your name? ").strip()
        if not name:
            print("Name cannot be empty. Please try again.")
            continue
        age = int(input("How old are you? "))
        if age > 0 :
            print(f"Hello, {name}! You are {age} years old.")
            break
        else:
            print(f"{name}, Please enter a valid age.")
        print(f"Hello, {name}! You are {age} years old.")

What is your name? Jana
How old are you? 17
Hello, Jana! You are 17 years old.

In [19]:
#Bouns
numbers = []
print("Please enter 5 numbers:")
for i in range(5):
    num = float(input(f"Enter number {i+1}: "))
    numbers.append(num)
    average = sum(numbers) / len(numbers)
    largest = max(numbers)
    smallest = min(numbers)
print(f"\nThe numbers you entered: {numbers}")
print(f"Average of the numbers: {average}")
print(f"Largest number: {largest}")
print(f"Smallest number: {smallest}")

Please enter 5 numbers:
Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5

The numbers you entered: [1.0, 2.0, 3.0, 4.0, 5.0]
Average of the numbers: 3.0
Largest number: 5.0
Smallest number: 1.0